<div class="auth-container">
  <h2>Inicia sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        <div *ngIf="loginForm.get('email')?.errors?.['required']">
          El correo electrónico es obligatorio.
        </div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']">
          Por favor, introduce un correo electrónico válido.
      </div>
</div>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
        <div *ngIf="loginForm.get('password')?.errors?.['required']">
          La contraseña es obligatoria.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Iniciar sesión</button>
  </form>
  <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate</a></p>
</div>