.agenda-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h3 {
  color: #333;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

form input, form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #5c67f2;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

form button:hover {
  background-color: #5058e5;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-left: 5px solid #5c67f2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li h3 {
  margin: 0;
}

/* Estilos de botones de acción */
.edit-button, .delete-button{
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.edit-button{
  background-color: #5c67f2;
}

.edit-button:hover{
  background-color: #5058e5;
  transform: translateY(-2px);
}

.delete-button{
  background-color: #f25c67;
}

.delete-button:hover{
  background-color: #e55058;
  transform: translateY(-2px);
}

/* Estilo botón cerrar sesión */
.btn-logout {
  background-color: #d10000; 
  color: #ffffff;            
  border: none;              
  border-radius: 5px;        
  padding: 8px 15px;         
  font-weight: bold;         
  cursor: pointer;           
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #ff0000;
}